NODE_ENV=production
UPLOAD_PATH=public/uploads

DATABASE_URL='' # db url


PRIVATE_KEY='' # comment this line if you wanna use the example private key
PUBLIC_KEY='' # comment this line if you wanna use the example public key

